@media only screen and (max-width: 1200px) {
	
	
.barner {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
	margin-top: 1vh;
	height: calc(200vw*0.1);
	background-image: url("https://firebasestorage.googleapis.com/v0/b/chat-1e2a0.appspot.com/o/barner2.jpg?alt=media&token=0c2fad7b-3307-4af7-9920-55165b42845b");
	background-repeat: no-repeat;
	background-size: 100%, 100%, contain;
}

.barner ul {
	display: flex;
	flex-direction: row;
	color: white;
	list-style-type: none;
}

.barner li:hover {
	color: orange;
}
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.logo {
		height: 6vh;
	}
	.navbar {
		display: flex;
		width: 90%;
		list-style-type: none;
		flex-direction: column;
		
	}
	.navbar ul {
		display: flex;
		width: 50%;
		
	}
	.navbar li {
		display: flex;
		width: 100%;
		flex-direction: column;
		color: white;
		align-items: center;
		text-transform: uppercase;
	}
	.navbar li:hover {
		background-image: linear-gradient(180deg, #bbdefb , #1e88e5);
	}
	.navbar a{
		color:white;
		text-decoration-line:none;
	}
	.subitem {
		display: none;
		opacity: 0;
		position: absolute;
		z-index: 1;
		margin-top: 15px;
		margin-left: 40px;
		width: 160px;
		padding: 1px;
		background-color: #b0bec5;
		border-radius: 2px;
	}
	.barra {
	display: flex;
	flex-direction: column;
	background-color: #ffebee;
	justify-content: start;
	align-items: center;
	height: 15vh;
}

.barra form {
	margin-right: 15px;
}

.barra input {
	margin-right: 15px;
	border-width: 0px;
	border-radius: 5px;
	text-align: center;
	outline: none;
}

.barra button {
	margin-top:5px;
	color: #ffffff;
	background-color: #b0bec5;
	border-radius: 6px;
	border-color: #eceff1;
	height: 22px;
}

.barra button:hover {
	background-color: #1e88e5;
}




footer {
	display: flex;
	flex-direction: column;
	margin-top: 1vh;
	background-color: #212121;
	font-size: 10px;
	color: #eeeeee;
}

footer img {
	height: 6vh;
}




}

@media only screen and (min-width: 1200px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 7vh;
	}
	.logo {
		height: 6vh;
	}
	.navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 40%;
		height: 7vh;
		list-style-type: none;
	}
	.navbar li {
		display: flex;
		flex-direction: column;
		color: white;
		font-size: calc(2vw*0.6);
		align-items: center;
		text-transform: uppercase;
	}
	.subitem {
		display: none;
		position: absolute;
		z-index: 1;
		margin-top: 15px;
		width: 160px;
		padding: 1px;
		background-color: #b0bec5;
		border-radius: 2px;
	}
	.navbar li:hover {
		background-image: linear-gradient(180deg, #bbdefb , #1e88e5);
	}
	
	
	.navbar a{
		color:white;
		text-decoration-line:none;
	}
	
	.barra {
	display: flex;
	background-color: #ffebee;
	justify-content: end;
	align-items: center;
	height: 5vh;
}

.barra form {
	margin-right: 15px;
}

.barra input {
	margin-right: 15px;
	border-width: 0px;
	border-radius: 5px;
	text-align: center;
	outline: none;
}

.barra button {
	color: #ffffff;
	background-color: #b0bec5;
	border-radius: 6px;
	border-color: #eceff1;
	height: 22px;
}

.barra button:hover {
	background-color: #b0bec5;
}

footer {
	display: flex;
	margin-top: 1vh;
	background-color: #212121;
	font-size: 10px;
	color: #eeeeee;
}

footer img {
	height: 6vh;
}

}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-image: linear-gradient(135deg, #64b5f6,#64b5f6);
}

.tela-principal {
	margin-top: 1vh;
	display: flex;
	flex-direction: column;
	flex: 1;
}



.barner {
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: center;
	margin-top: 1vh;
	height: calc(200vw*0.1);
	background-image: url("https://firebasestorage.googleapis.com/v0/b/chat-1e2a0.appspot.com/o/barner2.jpg?alt=media&token=0c2fad7b-3307-4af7-9920-55165b42845b");
	background-repeat: no-repeat;
	background-size: 100%, 100%, contain;
}

.barner ul {
	display: flex;
	flex-direction: row;
	color: white;
	list-style-type: none;
}

.barner li:hover {
	color: orange;
}

.listagem {
	display: flex;
	flex-direction:column;
	flex: 1;
	flex-wrap: wrap;
	margin-top: 1vh;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(90deg, #e0e0e0, #fafafa);
}

.listagem .titulo{
	color:white;
	width:90%;
	padding:5px;
	background-image: linear-gradient(90deg, #1976d2 , #448aff );
}

.listagem ul {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	flex-wrap: wrap;
	background-color: #eceff1;
	list-style-type: none;
	border-radius: 3px;
}

.listagem li {
	flex-wrap: wrap;
	flex: 1;
	margin-right: 33px;
	margin-top: 10px;
	background-color: #ffffff;
	text-align: center;
	border-radius: 6px;
}



.listagem img {
	width: 200px;
	height: 290px;
}

.listagem h3 {
	font-weight: 100;
}

.listagem h3:first-letter {
	text-transform: uppercase;
}

.listagem p {
	text-transform: uppercase;
	font-size: 12px;
}

.listagem p:nth-of-type(3) {
	text-transform: uppercase;
	font-size: 18px;
}

.listagem button {
	color: #ffffff;
	width: 100%;
	background-color: #b0bec5;
	border-radius: 6px;
	border-width: 1px;
	border-color: #eceff1;
	height: 22px;
	margin-top: -5px;
}

.listagem button:hover {
	background-image: linear-gradient(90deg, #e0e0e0, #37474f);
}

.listagem span {
	text-decoration-line: underline;
	font-weight: bold;
}

.social {
	display: flex;
	background-color: #37474f;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}


.social img{
	width:40px;
}



.ativado {
	background-color: #424242;
	width: 15px;
}

.desativado {
	opacity: 0.1;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:10vh;
	right:8vw;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

#mapa,#contatos{
	text-align:center;
}

.subtitulo{
	color:#424242;
}

.contatos{
	display:flex;
	flex-direction:column;
	background-color:#37474f;
	margin-bottom:4px;
	color:#FFF;
}

